* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  background-color: aqua;
  text-align: center;
}

.form {
  border: 3px blue solid;
  position: absolute;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.form button {
  border-radius: 5px;
  padding: 2px;
}
.form button:hover {
  background-color: aqua;
  color: white;
}

.weather-info {
  position: absolute;
  left: 370px;
  border: 2px blue solid;
  padding: 10px;
  margin: 10px;
  width: 78%;
  height: 35%;
  border-radius: 10px;
  bottom: 365px;
}

.weather-info h2 {
  padding: 5px;
}

.weather-info p {
  padding: 5px;
}

.saved-cities {
  border: 3px blue solid;
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  top: 64px;
  width: 16%;
  text-align: center;
}

.saved-cities button {
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
}

.saved-cities button:hover {
    background-color: aqua;
    color: white;
}